<h1>Informacje o stronie</h1>

<p>
	Picturest to na razie aplikacja tworzona podczas nauki frameworku Ruby on Rails. W przyszłości będzie to jeden z największych polskich serwisów internetowych :)
</p>